body {
    position: relative;
    font-family: "Avenir Next", sans-serif !important;
    background-color: black;
}

span a {
    color: #D8E3EC;
}

span a:hover {
    color: #BED1E0;
}
ul{
    padding-left:0;
}
li{
  list-style-type: none;
}
.hidden {
    display: none;
}

.container {
    background-color: #383E42 !important;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.logo {
    position: relative;
    display: inline-block;
    margin: 20px 0;
    color: #D8E3EC;
}

.nav li {
    display: inline-block;
    float: left;
}

.nav li a {
    color: #D8E3EC;
}

.nav li a:hover {
    text-decoration: underline;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus,
.nav>li>a:hover,
.nav>li>a:focus,
nav li a,
nav li a:hover,
nav li a:focus {
    background-color: transparent;
}

.dropdown-menu {
    background-color: transparent;
}

.dropdown-menu li {
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #97A8B5;
    text-decoration: none !important;
}

.jumbotron {
    background-color: transparent;
    position: relative;
    top: 25vh;
}

.message {
    position: relative;
    top: 30%;
    color: #D8E3EC;
    font-size: 3vh;
}

.arrow {
    color: #D8E3EC;
    font-size: 2vh;
    text-align: center;
    position: absolute;
    bottom: 5vh;
    z-index: 1000;
    cursor: pointer;
}

.header_h2 {
    color: #383E42;
    background-color: #BED1E0;
    border-bottom: 1px solid #97A8B5;
    text-align: center;
    height: 20vh;
}

.header_h2 h2 {
    position: relative;
    top: 7vh;
    text-align: center;
}

.content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #BED1E0;
}

.panel {
    color: #BED1E0;
    border-radius: 0 !important;
    background-color: #657079 !important;
    border-bottom: solid 3px #97A8B5;
    margin-top: 0 !important;
}

.panel-heading {
    position: relative;
    top: 3vh;
    height: 30vh;
}




/*button styling for code snippet*/

.cursor {
    cursor: pointer;
    font-size: 2vh;
}

button {
    display: block;
    color: #97A8B5;
    background-color: #383E42;
    border: solid 1px #BED1E0;
    border-radius: 5px;
    margin: 2vh 0;
}

button:hover {
    color: #383E42;
    background-color: #97A8B5;
}


/*modal styling*/

pre {
    max-height: 400px;
    overflow: scroll;
    background-color: #BED1E0;
}

.modal-header {
    color: #BED1E0;
    background-color: #383E42;
}

.modal-body {
    color: #383E42;
    background-color: #97A8B5;
}

.modal-footer {
    color: #BED1E0;
    background-color: #383E42;
    margin-top: 0 !important;
}


/*about me section styling*/

#about_me {
    color: #383E42;
    background-color: #BED1E0;
}

#about_me h2 {
    text-align: center;
    padding-bottom: 4vh;
}

#about_me article {
    font-weight: 500;
    margin: 0 auto 10vh;
    max-width: 980px;
}

.fa:before {
    font-size: 4vh;
    
   
}
.icons li{
 
   display:inline;
   margin-right:2vh;
}
footer {
    text-align: center;
    padding: 5vh 0;
    color: #BED1E0;
}
footer h2{
    font-size:4vh;
    margin-bottom:2vh;
}
footer li{
    margin:.5vh 0;
}


#contact {
    height: 30vh;
    background-color: #383E42;
    width: 100%;
}