body {
    position: relative;
    font-family: "Avenir Next", sans-serif !important;
    background-color: #383E42;
}

span a {
    color: #D8E3EC;
}

span a:hover {
    color: #BED1E0;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    cursor: pointer;
    
}

.hidden {
    display: none;
}

.background {
    width: 100%;
    height: 100vh;
    position: absolute;
    background
}

.container {
    height: 100vh;
    position: relative;
}

.logo {
    position: relative;
    display: inline-block;
    margin: 2em 0;
    color: #D8E3EC;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


/*message and arrow*/

.jumbotron {
    background-color: transparent;
    position: relative;
}

.message {
    position: relative;
    color: #D8E3EC;
 
}

.arrow {
    color: #D8E3EC;
    text-align: center;
    position: relative;
    cursor: pointer;
}


/* end styling*/


/*my work header*/

.header_h2 {
    color: #383E42;
    background-color: #BED1E0;
    border-bottom: 1px solid #97A8B5;
    text-align: center;
    height: 30vh;
}

.header_h2 h2 {
    position: relative;
    text-align: center;
}


/*end styling*/

.content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #BED1E0;
}


/* panels */

.panel {
    color: #BED1E0;
    border-radius: 0 !important;
    background-color: #657079 !important;
    border-bottom: solid 3px #97A8B5;
    margin-top: 0 !important;
}

.panel-heading {
    position: relative;
    height: 30vh;
}

.panel-title {
    position: relative;
    top: 15vh;
}
.panel-body{
    max-width:1200px;
    margin:0 auto;
}


/*button styling for code snippet*/

.cursor {
    cursor: pointer;
    font-size: 2vh;
}

button {
    display: block;
    color: #97A8B5;
    background-color: #383E42;
    border: solid 1px #BED1E0;
    border-radius: 5px;
    margin: 2vh 0;
}

button:hover {
    color: #383E42;
    background-color: #97A8B5;
}


/*modal styling*/

pre {
    max-height: 400px;
    overflow: scroll;
    background-color: #BED1E0;
}

.modal-header {
    color: #BED1E0;
    background-color: #383E42;
}

.modal-body {
    color: #383E42;
    background-color: #97A8B5;
}

.modal-footer {
    color: #BED1E0;
    background-color: #383E42;
    margin-top: 0 !important;
}


/*about me section styling*/

#about_me {
    color: #383E42;
    background-color: #BED1E0;
    padding-left: 20px;
    width: 100vw;
}

#about_me h2 {
    text-align: center;
    padding-bottom: 4vh;
}

#about_me article {
    font-weight: 500;
    margin: 0 auto 10vh;
    padding: 0 15px;
    max-width: 980px;
}


/*contact*/
footer {
    text-align: center;
    padding: 5vh 0;
    color: #BED1E0;
}

footer h2 {
    font-size: 4vh;
   
}

footer li {
    margin: 1em 0;
}

.icon_group li {
    display: inline;

    margin:0 2em;
  
}
.icons::before{
    font-size:3em;
}
.icon_group a {
    color:transparent;
    color: #BED1E0;
    
}


/*media queries*/

@media screen and (min-width:320px) {
    nav {
        display: none;
    }
    .jumbotron {
        top: 20vh;
    }
    .message {
        font-size: 1.5em;
    }
    .arrow {
        font-size: 1.5em;
        top: 30vh;
    }
    .logo {
        display: block;
        text-align: center;
        font-size: 2em;
    }
    .header_h2 h2 {
        padding-top: 1.75em;
    }
}

@media screen and (min-width:375px) {
    h2 {
        font-size: 2em;
    }
    nav {
        display: none;
    }
    .jumbotron {
        top: 5vh;
    }
    .arrow {
        font-size: 1.75em;
        top: 18vh;
    }
    .logo {
        display: block;
        text-align: center;
        font-size: 2em;
    }
    .header_h2 h2 {
        padding-top: 40px;
    }
    .panel-heading {
        top: -1em;
    }
   
}

@media screen and (min-width:550px) {
    nav {
        display: inline-block;
        float: right;
        margin-top: 4.5vh;
    }
    .nav li {
        display: inline-block;
        float: left;
        margin: 2em 10px;
    }
    .nav li a {
        background-color: transparent !important;
        color: #D8E3EC;
    }
    .nav li a:hover {
        background-color: transparent !important;
        text-decoration: underline;
        color: #BED1E0;
    }
    .jumbotron {
        top: 20vh;
    }
    .arrow {
        font-size: 2em;
        top: 40vh;
    }
    .logo {
     
        display: inline;
        float: left;
        text-align: center;
        font-size: 2em;
    }
    .header_h2 h2 {
        font-size: 3em;
        padding-top: 2.75em;
    }
    .panel-heading {
        top: -3vw;
    }
    .panel-title {
        font-size: 2.5em;
    }
}

@media screen and (min-width:700px) {
    .jumbotron {
        top: 20vh;
    }
    .message {
        font-size: 3em;
    }
    .arrow {
        top: 40vh;
        font-size: 2em;
    }
    .header_h2 h2 {
        font-size: 3em;
        padding-top: 3em;
    }
}
@media screen and (min-width:1000px) {
   
    .jumbotron {
        top: 20vh;
    }
    .message {
        font-size: 3em;
    }
   
    .header_h2 h2 {
        font-size: 3em;
        padding-top: 3em;
    }
 
}
@media screen and (min-width:1200px){
       #about_me h2{
        font-size:3em;
       
    }
    #about_me article{
        font-size:2em;
        max-width:1200px;
    }
}