body {
    position: relative;
    font-family: "Avenir Next", sans-serif !important;
}

.hidden {
    display: none;
}

.nav li {
    display: inline;
    float: left;
    text-decoration-color: black;
    
}

.jumbotron {
    background-color: #fff !important;
    height: 70vh;
}

.message {
    position: relative;
    top: 30%;
    font-size: 1.4em;
}

.arrow {
    text-align: center;
    height: 10vh;
}

.header_h2 {
    background-color: #f4e6e6;
    text-align: center;
    height: 20vh;
}

.header_h2 h2 {
    position: relative;
    top: 7vh;
    text-align: center;
}

.content-panels {
    margin: 0;
    padding: 0;
}

.panel {
    background-color: aqua !important;
}

.panel-heading {
    height: 10vh;
}